html {
	font-family: arial, sans-serif;
	color: #737373;
}

body {
	width: 100%;
}

a {
	text-decoration: none;
	color: #737373;
}

:focus {
	outline: none;
}

/* Header */

header {
	width:100%;
	height: 45px;
}

.headernav {
	width: 300px;
	text-align: right;
	font-size: 13px;
	line-height: 24px;
	margin-top: 15px;
	padding-right: 20px;
	float: right;
	display:inline;
}

.headernav li {
	padding-right: 20px;
	display: inline;
}

.headernav span li:hover {
	text-decoration: underline;
}

.appselect {
	width: 16px;
	height: 16px;
	background-image: url('../images/top_header_right_app_select.png');
	display: inline-block;
	vertical-align: middle;
}

.appselect:hover {
	width: 16px;
	height: 16px;
	background-image: url('../images/top_header_app_select_right_hover.png');
	display: inline-block;
	vertical-align: middle;
}

.signinbutton {
	width: 70px;
	height: 30px ;
	background-color: #4486f9;
	color: white;
	font-weight: bold;
	line-height: 28px;
	border-radius: 2px;
	vertical-align: middle;
	border: none;
}

/* Main search */

.mainsearch {
	width: 100%;
	display:block;
	margin-top: 89px;
}

.googleimage {
	width: 272px;
	height: 92px;;
	margin: auto;
	padding-top: 50px;
}

#searchbar {
	width: 484px;
	height: 44px;
	margin: 20px auto;
	position: relative;
	display: block;
	box-shadow: 3px 3px 10px #e2e2e2;
	border: 1px solid #e6e6e6;

}

#searchbar input {
	width: 403px;
	height: 34px;
	font-size: 16px;
	border: 0;
	position: absolute;
	left: 15px;
	top: 5px;
}

#mic {
	height: 20px;
	width: 15px;
	vertical-align: middle;
	position: absolute;
	display: inline-block;
	right: 10px;
	top: 12px;
}

.searchbuttons {
	width: 300px;
	margin: auto;
	padding-top: 20px;
}

.lsb, .rsb {
	width: 125px;
	height: 36px;
	font-size: 13px;
	font-weight: bold;
	border-radius: 0;
	background-color: #f3f3f3;
	color: #757585;
	margin-left: 10px;
}

.lsb:hover, .rsb:hover {
	border: #c6c6c6 solid 1px;
	color: #222222;
}

.special {
	width: 400px;
	margin: auto;
}

.special img {
	float:left;
	padding-top: 15px;
}

.special p, span {
	font-size: 13px;
	padding-top: 30px;
}

.special span a {
	color: blue;
}

/* Footer */

.footer li {
	display:inline;
}

.footer {
	height: 42px;
	width: 100%;
	background-color: #f2f2f2;
	bottom: 0;
	position: absolute;
	margin-right: 0;
	border-top: #e4e4e4 solid 1px;
	font-size: 13px;
}

.fbarr {
	float:right;
	margin-right: 30px;
	padding-top: 15px;
}

.fbarl {
	margin-left: 30px;
	float: left;
	padding-top: 15px;
}


.fbarl li{
	padding-right: 30px;
}

.fbarr li {
	padding-left: 30px;
}

.footer li:hover {
	text-decoration: underline;
}

